<div class="col-md-6 mx-auto mt-5">
<html><head>
    <title>WebCampBackendNew</title>

  <body>
<h1>
  <strong>welcome</strong>
  <svg class="svg-inline--fa fa-book fa-solid" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="" style="width: 35px; height: 40px;">
    <path fill="currentColor" d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z"></path>
  </svg>
  <strong>to</strong>
  <strong>Bookers !!</strong>
</h1>


<p>In
  <svg class="svg-inline--fa fa-book fa-solid" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="" style="width: 14px; height: 16px;">
    <path fill="currentColor" d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z"></path>
  </svg>
  <strong>Bookers,</strong> <br>you can share and exchange your opinions, impressions, and emotions</br><br><p>about various books!</p></br>
</p>

    <header>

  </header>
  <div class="row">
    <p class="ml-3"><a class="btn btn-info" href="/users/sign_in">Log in</a></p>
    <p class="ml-3"><a class="btn btn-success" href="/users/sign_up">Sign up</a></p>
  </div>
</body></html>